#root {
  background: rgb(199, 7, 140);
  width: 100vw;
  min-width: 375px;
  min-height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 1% 2%;
  font-size: 0.9em;
  text-align: center;
  background: rgb(179, 3, 170);
  border-bottom: 1px solid;
}

.header h1 {
  text-shadow: 1px 3px 5px;
}

.navbar {
  gap: 5%;
  padding: 5%;
  text-align: center;
  border-bottom: 1px solid;
}

.back {
  position: absolute;
  top: 1.5em;
  left: 0.5em;
  z-index: 3;
}

input {
  width: 40vw;
  max-width: 200px;
  color: gray;
  height: 2em;
  border-radius: 5px;
  border: none;
  padding: 3%;
  font-size: 1.2em;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items li {
  flex-direction: column;
  width: 180px;
  height: 6em;
  border: 1px solid;
  background: rgb(175, 4, 135);
}

.items li:nth-child(odd) {
  background: rgb(179, 3, 170);
}

.item-link {
  text-align: center;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  border: 2px solid;
  border-radius: 15px;
  padding: 10%;
  background: rgb(179, 3, 170);
  box-shadow: 5px 5px 5px 5px;
  margin-top: 7%;
}

.details h3 {
  font-size: 1.2em;
}

.loading,
.error {
  text-align: center;
  font-size: 1.5em;
  margin: 2em;
}

.error button {
  font-size: 1.02em;
  padding: 1% 5%;
  background: rgb(179, 3, 170);
  margin-top: 5%;
  border: none;
  box-shadow: 1px 1px 2px 2px;
}

.arrow-right {
  border: 2px solid;
  border-radius: 50%;
  padding: 1.5%;
}